<ul class="menu">
  <li>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a>
  </li>
  <li>
    <a href="{{ '/til' | prepend: site.baseurl | prepend: site.url }}">TIL</a>
  </li>
  {% if site.harmony.social.github %}
  <li>
    <a href="https://github.com/{{ site.harmony.social.github }}">Github</a>
  </li>
  {% endif %} {% if site.harmony.social.facebook %}
  <li>
    <a href="https://facebook.com/{{ site.harmony.social.facebook }}">Facebook</a>
  </li>
  {% endif %}
</ul>
